.pagination {
  display: flex;
  gap: 48px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.pagination button,
.pagination span {
  align-items: center;
  height: 40px;
  border: none;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff00;
  color: #fff;
}

.pagination button:disabled svg path {
  stroke: #3E3E3E;
}

.pagination button svg path {
  stroke: #fff;
}

.pagination span.pagesnumebers button {
  width: 30px;
  text-align: center;
}

.pagination span.pagesnumebers button.active {
  color: yellow;
}